body{
	font-family: sans-serif;
	background-image: url(old_mathematics.webp);
}
 
.kalkulator{
	width: 335px;
	background: salmon;
	margin: 100px auto;
	padding: 10px 20px 50px 20px;
}
 
.bil{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	padding: 10px;	
}
 
.opt{
	font-size: 16pt;
	border: none;
	width: 215px;
	margin: 5px;
	padding: 10px;
}
 
.tombol{
	background: #EC5159;
	padding: 10px 20px;
	border: none;
	color: #eee;
	font-size: 15pt;
}
 
.brand{
	color: #eee;
	font-size: 11pt;
	float: right;
	text-decoration: none;
	margin: 12px;
}
 
.judul{
	text-align: center;
	color: black;
	font-weight: normal;
}

a{
	font-size: 10pt;
	border: none;
	width: 100px;
	margin: 5px;
	padding-top: 10px;	
	text-decoration: none;
	color: #eaeaea;
}